body{
	background-color:#525963;
}
img.images {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	margin: 10px 10px 10px 10px;
}

img.images:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#header-image
{
	width:50%;
	height:25%;
	margin:1% 0% 5% 25%;
}

.searchBox{
	width:80%;
	margin: 0 0 0 15%;
	position:relative;
	top:-10%;
}

.searchBox input{
	
	font-size:28px;		
	padding:10px;
	border-radius:5px;
	border:5px solid #8E8E8E;
	width:75%;
	height:8%;
	color:#666461;
	background-color:#e8e4de;
	font-family: font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight:bold;
}

#search-button{
	position:relative;

	top:-5px;
	background-color:#8E8E8E;
	border:5px solid #8E8E8E;
	border-radius:5px;
	width:10%;
	height:8%;
	font-family: font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-weight: bold;
	color:#e8e4de;
	font-size:17px;	
}

.link{
	padding:5px;
	color:#e8e4de;
	font-size:115%;
}

.linkSelected{
	padding:5px;
	color:#e8e4de;
	font-size:115%;
	text-decoration:none;
}

.next-button{

	font-weight:bold;
	background-color:#e8e4de;
}

#num-of-items-per-page{

	font-weight:bold;
	background-color:#e8e4de;
}


#output
{
	margin: 25 0 0 0;
}

#indexes
{
	position:relative;
	left:75%;
	display:none;
}
